<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="environmentSection" type="FhirTool.Configuration.EnvironmentSection, fhir-tool" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <environmentSection>
    <environments>
      <add name="dev" proxyBaseUrl="https://skjemakatalog-dev-fhir-apimgmt.azure-api.net/api/v1/" fhirBaseUrl="https://skjemakatalog-dev-fhir-api.azurewebsites.net/" />
      <add name="test" proxyBaseUrl="https://skjemakatalog-test-fhir-apimgmt.azure-api.net/api/v1/" fhirBaseUrl="https://skjemakatalog-test-fhir-api.azurewebsites.net/" />
    </environments>
  </environmentSection>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
