<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="environmentSection" type="FhirTool.Configuration.EnvironmentSection, fhir-tool" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <environmentSection>
    <environments>
      <add name="dev" proxyBaseUrl="https://skjemakatalog-dev-fhir-apimgmt.azure-api.net/api/v1/" fhirBaseUrl="https://skjemakatalog-dev-fhir-api.azurewebsites.net/" />
      <add name="test" proxyBaseUrl="https://skjemakatalog-test-fhir-apimgmt.azure-api.net/api/v1/" fhirBaseUrl="https://skjemakatalog-test-fhir-api.azurewebsites.net/" />
      <add name="test2" proxyBaseUrl="https://skjemakatalog-test2-fhir-apimgmt.azure-api.net/api/v1/" fhirBaseUrl="https://skjemakatalog-test2-fhir-api.azurewebsites.net/" />
      <add name="qa" proxyBaseUrl="https://skjemakatalog-qa.int-hn.nhn.no/api/v1/" fhirBaseUrl="https://skjemakatalog-qa-fhir-api.azurewebsites.net/" />
      <add name="prod" proxyBaseUrl="https://skjemakatalog.ehelse.no/api/v1/" fhirBaseUrl="https://skjemakatalog-prod-fhir-api.azurewebsites.net/" />
      <add name="spark" proxyBaseUrl="http://spark.kufu.no/fhir/" fhirBaseUrl="http://spark.kufu.no/fhir/" />
    </environments>
  </environmentSection>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
